// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



// ----- Typography ----- //

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$b-fontSize: 16px;
$b-fontSize-xs: 75%;
$b-fontSize-s: 90%;
$b-fontSize-l: 115%;
$b-fontSize-xl: 150%;
$b-fontSize-h1: 200%;
$b-fontSize-h2: 150%;
$b-fontSize-h3: 125%;
$b-fontSize-h4: 110%;
$b-lineHeight: 1.5;


/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;


// ----- Sizing ----- //

$b-space: 1em;
$b-space-xs: $b-space * 0.25;
$b-space-s: $b-space * 0.5;
$b-space-l: $b-space * 2;
$b-space-xl: $b-space * 4;

/// Container's maximum width
/// Below that is 100%
/// @type Length
$b-maxWidth: 1024px;
$b-maxWidth-s: 700px;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 480px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
